[run]
source = app
omit =
    */__pycache__/*
    */tests/*
    */venv/*
    */mlruns/*
    */site-packages/*
    */check_environment.py

[report]
precision = 2
show_missing = true
fail_under = 80
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.
    raise NotImplementedError
    if TYPE_CHECKING:
    @abstractmethod

[html]
directory = htmlcov

[xml]
output = coverage.xml
